
html,head, body, h1, li, a, p, nav, main{
    padding: 0px;
    margin: 0px;
}

header{
	position: absolute;
	background-color:#273746;
	color:#FDFBFC;
    height:110px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	line-height:20px;
}

#logo-style{
	float: left;
	position: relative;
    margin-top: 0px; 
	margin-left: 2%;
	margin-bottom: auto;
    height: auto;
    width: 6%;
 }

#title-style{
	position: absolute;
	margin-top: 2%;
	margin-left: 10%;
	font-family: Impact,sans-serif;
	font-size: xx-large;
	font-weight: lighter;
}

#right-nav li{
	display: inline;
	margin: 10px;
	bottom:5px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#right-nav li:hover{
	text-decoration: underline;
}

nav{
	position: absolute;
	float:left;
	background-color:#3B5B78;
	color: #FDFBFC;
	width:100%;
	height: auto;
	margin-top: 110px;
}

#navConn-style{
	margin-left: 2%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bolder;
}

#navConn-style:hover{
	text-decoration: underline;
}

#left-nav{
	float:left;
	padding-bottom:0px;
	font-stretch: semi-expanded;
}

#right-nav{
	float:right;
}

ul li{
	list-style-type:none;
}

ul li:hover{
	text-decoration: underline;
}

a{
	text-decoration:none;
	color:#FDFBFC;
}

body{
	position: absolute;
	height:100%;
	width:100%;
}

#home-page{
	position: absolute;
	display: block;
    margin-top: 20%;
	margin-left: 25%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#connections-style{
	position: absolute;
	margin-top: 15%;
	margin-left: 25%;
}

article a{
	color:#000000;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article h3{
	color:#FD481F;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#connection-style{
	/* position: absolute; */
	 margin-top: 15%; 
	 margin-left: 20%; 
	/*float: left; */
}

#connectionDetail1-style{
	margin-top: 10%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#connectionImg-style{
	position: absolute;
	width: 200px;
	height: auto;
}

#connectionInfo-style{
	position: absolute;
	margin-left: 15%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#connectionDetail2-style{
	/* position: absolute; */
	margin-top: 15%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#text-wrap{
	overflow-wrap: break-word;
}

#rsvp-style{
	/* float:right; */
	/* width: 25%; */
	/* text-align:top; */
	/* margin-top:10px; */
	padding:20px;
	line-height:20px;
	margin-top: 3%;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button{
	border:none;
	padding:2px;
	border-radius:3px;
	border-color:none;
	background-color:#000000;
	color:#ffffff;
	margin:1px;
}

#buttonYes{
	background-color:#B6E577;
}

#buttonYes:hover{
	background-color: green;
}

#buttonNo{
	background-color:#FC5844;
}

#buttonNo:hover{
	background-color: red;
}

#buttonMaybe{
	background-color:#6EBFFE;
}

#buttonMaybe:hover{
	background-color: darkblue;
}

table{
	border-collapse:collapse;
	width:80%;
	margin:2px;
	margin-left: 10%;
	margin-top: 2%;
}

table,th,td{
	border:1px solid gray;
	padding:2px;
	text-align:left;
	line-height:25px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td ul li{
	display:inline;
}

#buttonT{
	background-color:#000000;
	color:#ffffff;
	padding:3px;
	margin:5px;
}

#savedConnh3-style{
	margin-top: 20%;
	margin-left: 10%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#new-connection{
	margin-top: 15%;
	margin-left: 15%;
}

label{
	width:180px;
    clear:both;
    text-align:right;
	padding-right:10px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
	color:gray;
	font-weight: bold;
}

#where-style, #when-style{
	margin-top: 20px;
}

input{
	float:left;
}

#topic, #name{
	width: 250px;
}

#details{
	width: 250px; 
	height: 100px;
}

#where{
	margin-top: 20px;
	width: 250px;
}

#when{
	margin-top: 20px;
	width: 250px;
}

#createButton-style{
	margin-left: 15px;
	margin-top: 5%;
	padding: 8px;
}

#createButton-style:hover{
	border: 2px solid gray;
}

footer{
	position:fixed;
	clear: both;
	background-color:#273746;
	color:#FDFBFC;
	bottom:0;
	padding:2px 2px;
	height:50px;
	width:100%;
	line-height:15px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#copyright-style, #contact-style, #about-style{
	font-stretch: semi-expanded;
}

#contact-style:hover{
	text-decoration: underline;
}

#about-style:hover{
	text-decoration: underline;
}

#contactHead-style, #aboutHead-style, #welcome-style{
	color:#FD481F;
}

#fbpos, #twitterpos{
	float:right;
	margin:0.5px;
	padding-right:2px;
	margin-right: 1.5%;
}

footer ul li{
	display:inline;
	margin:5px;
}

.about-style, .contact-style{
	margin-top: 20%;
	margin-left: 25%;
}