<nav>
    <ul>
        <li><a id="navConn-style" href='/connections'>Connections</a></li>
        <!-- <li id="User-nav">Welcome <%= userData.userID %></li> -->
    </ul>

    <ul id="User-nav">
        <li>Welcome <%= userData.firstName %></li>
    </ul>
</nav>