<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
    </head>
<footer>
    <ul>
        <li id="copyright-style">©Creative Design</li>
        <li id="contact-style"><a href='/contact'>Contact</a></li>
        <li id="about-style"><a href='/about'>About</a></li>
        <li id="fbpos"><img src="/assets/images/fb.png" alt="fblogo" height="30" width="30"></li>
        <li id="twitterpos"><img src="/assets/images/twitter.png" alt="twitterlogo" height="30" width="30"></li>
    </ul>
</footer>
</html>