<header>
    <ul>
        <li><a href='/'> 
        <img id="logo-style" src="/assets/images/logo.jpg" alt="logo"></a></li>
        <li><h1 id="title-style">Creative Design</h1></li>
    </ul>
    <ul id="right-nav">
        <li><a href='/user/newConnection'>Start a new connection</a></li>
        <li><a href='/user/savedConnections'>My Connections</a></li>
        <li><a href='/user/signout'>Sign-out</a></li>
    </ul>
</header>